/*-----SETTINGS----------
---1.Default settings
---2.Preloader settings
---3.Mouse animation settings
---4.Navigation settings
---5.Banner area settings
---6.About area settings
---7.Services area settings
---8.Numbers area settings
---10.Map area settings
---11.Contacts area settings
---12.Footer area settings
-------SETTINGS--------*/

/*--- 1. Default css strats---*/

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 1.7;
  color: #251d1b;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #251d1b;
  font-weight: 600;
}

p {
  letter-spacing: 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

.section-padding {
  padding: 60px 0;
}

.section-header {
  margin-bottom: 60px;
  text-align: center;
}

.section-header h2 {
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
}

.line-one {
  height: 1px;
  width: 100px;
  background: #0069a8;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.lazy {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.lazy-bg {
  overflow: hidden;
  position: relative;
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

/*---Default css ends---*/

/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: "";
  border: 1em solid #0069a8;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/*-------------- Preloader css ends ---------------*/

/* --- Fonts --- */

/* montserrat-regular - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v14-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin_cyrillic-regular.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

/* montserrat-italic - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../fonts/montserrat-v14-latin_cyrillic-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin_cyrillic-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin_cyrillic-italic.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v14-latin_cyrillic-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin_cyrillic-italic.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v14-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v14-latin_cyrillic-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin_cyrillic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin_cyrillic-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin_cyrillic-600.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin_cyrillic-700.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v14-latin_cyrillic-800.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/montserrat-v14-latin_cyrillic-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin_cyrillic-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin_cyrillic-800.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin_cyrillic-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin_cyrillic-800.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

/* --- Fonts ended --- */

/*--- 3. Mouse animation css starts---*/

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.mouse-scroll {
  position: absolute;
  left: 48%;
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 10%;
  text-decoration: none;
  overflow: hidden;
}

.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 60px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-animation: scroll-ani 2s linear infinite;
  animation: scroll-ani 2s linear infinite;
}

/*---mouse animation ends---*/

/*---------- 4. Nav area css starts -------------*/

.nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
}

.nav-area.sticky_navigation {
  background: #ffffff;
  height: 90px;
}

.sticky_navigation {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
}

.sticky_navigation .main-menu {
  margin-top: 0;
}

.sticky_navigation .brand,
.sticky_navigation .brand span {
  color: #251d1b;
}

.sticky_navigation .brand:hover,
.sticky_navigation .brand:focus,
.sticky_navigation .brand span {
  color: #251d1b;
}

.sticky_navigation .nav li a {
  color: #251d1b;
}

.sticky_navigation .nav li.active a {
  color: #0069a8;
}

.sticky_navigation .nav li.active::before {
  border-top: 1px solid #0069a8;
  content: "";
  display: block;
  margin-bottom: 5px;
  margin-left: 25%;
  width: 50%;
}

.sticky_navigation .nav li.active::after {
  border-bottom: 1px solid #0069a8;
  content: "";
  display: block;
  margin-top: 5px;
  margin-left: 25%;
  width: 50%;
}

.sticky_navigation .brand:hover {
  color: #ffffff;
}

.sticky_navigation .navbar-toggle .icon-bar {
  background: #0069a8;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-menu {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin-top: 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 0;
  margin: 0;
}

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  text-transform: uppercase;
  font-size: 25px;
  display: block;
  color: #ffffff;
  font-weight: 800;
}

.logo {
  font-size: 1.2em;
  letter-spacing: 2px;
}

.brand:focus,
.brand:hover {
  text-decoration: none;
  color: #ffffff;
}

.navbar-right li {
  display: inline-block;
  float: none;
}

.navbar-right li a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-right li.active a {
  font-weight: bold;
  color: #ffffff;
}

#auth {
  margin-top: -3px;
  display: inline-block;
  padding: 0;
  margin-left: 15px;
  font-size: 40px;
}

#auth a {
  color: #033d75;
}

#auth i {
  background-color: #fff;
  border-radius: 100%;
  text-shadow: #fff 0 0 10px;
}

.nav > li > a {
  padding: 5px 15px;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  background: none;
}

.navbar-toggle .icon-bar {
  background-color: #fafafa; /* 033d75 */
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

/*---------- Nav area css ends -------------*/

/*----------- 5. Banner area css starts--------------*/

.banner-area {
  background-image: url("../images/home/header-background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.banner-area::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-table {
  display: table;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.banner-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.welcome-text .intro h2 {
  color: #fff;
  font-size: 85px;
  font-weight: 800;
  margin-bottom: 10px;
}

#home-text {
  font-size: 4rem;
}

.intro h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 200;
  margin: 0;
}

.ah-headline.clip .ah-words-wrapper::after {
  background-color: #fff;
}

.banner-btn {
  background: #0069a8;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.banner-btn:hover,
.banner-btn:focus {
  text-decoration: none;
  color: #ffffff;
}

.welcome-text h3 {
  color: #fff;
  text-transform: uppercase;
}

/*---------Banner area css ends--------------*/

/*---------- 6. About area css starts---------------*/

.about-text-left h2 {
  font-weight: 700;
  font-size: 36px;
  color: #251d1b;
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
}

.about-text-left h3 {
  color: #251d1b;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 18px;
}

.about-text-left a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background: #0069a8;
  padding: 15px;
  float: right;
  text-decoration: none;
}

.about-text-left p {
  text-align: left;
  font-size: 15px;
  color: #222;
  margin-bottom: 50px;
}

.about-image {
  margin-top: 50px;
}

.about-text-right {
  margin-top: 90px;
}

.about-text-left {
  margin-top: 90px;
}

.advantages {
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  display: block;
}

.advantages h3 {
  font-weight: 600;
  font-size: 28px;
  color: #212121;
  line-height: 1;
  text-align: center;
  margin-bottom: 25px;
}

.advantages-list {
  padding-left: 15px;
  margin-top: 20px;
}

.advantages-list li {
  list-style-type: none;
}

.advantages-text {
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.1em;
}

/*-------About area css ends--------------*/

/*---------------7. Services area Starts--------------*/

.services-area {
  background: #f3f4f3;
}

.services-icon i {
  font-size: 35px;
  color: #251d1b;
}

.single-services:hover i {
  color: #212121;
}

.services-content h3 {
  line-height: 1.9;
  text-transform: uppercase;
}

.services-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
}

.single-services {
  padding: 40px 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.2);
}

.single-services:hover {
  -webkit-transition: ease 0.09s;
  transition: ease 0.09s;
}

.single-services:hover .services-icon {
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.single-services:hover .services-icon i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.single-services:hover {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.single-services:hover .services-content {
  color: #251d1b;
}

.single-services:hover .services-content h3 {
  color: #0069a8;
}

/*--------------- Services area ends --------------*/

/*-------- 8. Number area css starts-----------*/

.number-area {
  background: #0069a8;
  color: #fff;
}

.counter {
  font-size: 45px;
  color: #fff;
}

.single-number i {
  font-size: 35px;
}

.single-number p {
  font-size: 18px;
}

/*--------Number area ends-----------*/

/*-------- 10. Map area starts-----------*/

.map-area {
  background-color: #ffffff;
}

#map_canv {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#mapid {
  display: none;
}

/*-------Map area ends----------*/

/*------ 11. Contact area starts-------*/

.single-contact i {
  font-size: 30px;
  color: #0069a8;
  margin-bottom: 15px;
}

.single-contact .socials i {
  font-size: 14px;
  color: #251d1b;
  margin: 0 10px;
}

.socials i:hover {
  cursor: pointer;
}

.single-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  height: 165px;
}

.single-contact h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.contact-right h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.socials {
  padding-top: 5%;
}

.login-btn {
  background: #4d8b62;
  text-decoration: none;
  padding: 6px 30px;
  margin: 0px;
  display: inline-block;
  margin-top: 25px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.login-btn:hover,
.login-btn:focus {
  text-decoration: none;
  color: #ffffff;
}

.login-text h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 3px solid #0069a8;
  padding-bottom: 10px;
}

#login {
  text-align: right;
}

#signup {
  text-align: left;
}

/*-------- Contact area ends----------- */

/*--------------12. Footer area starts -------------*/

.footer-area {
  background: #232323;
  color: #ffffff;
  padding: 30px 0;
}

/*--------------- Footer area ends -------------*/
