// User variables:
$accent: #4985FF
$dark: #323232
$grey: #999999
$light-grey: #e0e0e0
$text: $dark

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
