.calendar-table {
	width: 100%;
	line-height: 1.2em;
	font-size: 15px;
	text-align: center;
  border-collapse:separate;
  border-spacing:1.1rem 0.3rem;
  background-color: #008ad53f;
  box-shadow: 2px 2px 12px 3px #00000006;
  min-height: 244px;
  max-width: 300px;
  padding: 0.6rem 0.4rem 0 0.4rem;
}

.calendar-table tbody{
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-item::after{
  content: '';
  width: 3px;
  height: 80%;
  position: absolute;
  display: block;
  right: -1px;
  top: 10%;
  bottom: 0;
  background-color: rgba(255,255,255,0.4);
  border-radius: 100%;
  box-shadow: 0px 2px 1px 1px #0000001c;
}


.calendar-item:last-child::after{
  display: none;
  content: none;
}

@media screen and (max-width: 975.8px) {
  .calendar-item:nth-child(1):after{
    display: none;
    content: none;
  }
}

.calendar-table .calendar-days-row td {
	font-weight: 500;
	font-size: 0.8em;
}

.calendar-table .calendar-month {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	background-color: #ff1552;
	color: #fff;
}

.calendar-table td {
  position: relative;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.calendar-table td.today{
  background-color: #fff;
  color: rgba(255,21,83);
  border: 1px solid #fff;
}

.calendar-table td.event{
  color: #fff;
  background-color: rgba(255,21,83,0.9);
}

.calendar-table td.event:hover{
  background-color: rgba(255,21,83,1);
}

.calendar-table thead tr:nth-child(1) td:nth-child(1):hover,
.calendar-table thead tr:nth-child(1) td:nth-child(3):hover {
	cursor: pointer;
}

.js_date {
	cursor: pointer;
}
.js_date:hover {
	background-color: rgba(255, 21, 83, 0.8);
}
