:root {
	--asu-dark: #07527a;
	--asu-accent: #337267;
}

.programs--banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 200px;
}

.programs--napr {
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 1rem;
	display: block;
}

.programs--banner__heading {
	display: flex;
	flex-direction: column;
}

.programs--banner__header {
	font-size: 2.6rem;
	font-weight: 800;
	text-transform: uppercase;
	color: var(--asu-accent);
}

.programs--banner__emblem{
	width: 60px;
	height: auto;
	margin-bottom: 1.5rem;
}

.programs--image{
	width: 100%;
	max-height: 100%;
	height: auto;
	-o-object-fit: contain;
	   object-fit: contain;
}

.programs--image__content {
	position: absolute;
	height: 150px;
	bottom: -75px;
	left: 20%;
	width: auto;
	padding: 1rem 2.5rem;
	background-color: #fff;
	box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
}

.programs--image__content_item {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

.programs--image__content_item .description {
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 0.6rem;
}

.programs--image__content_item .numbers {
	background-color: var(--asu-accent);
	padding: 0.3rem 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 50px;
	border-radius: 30px;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	margin-bottom: 0.4rem;
}

.programs--image__content_divider {
	height: 60%;
	background-color: rgba(0,0,0,0.3);
	width: 1px;
	margin: 0 1.5rem;
}

.programs--proflie-header {
	font-size: 2.6rem;
	font-weight: 600;
	color: var(--asu-dark);
	margin-bottom: 2rem;
	letter-spacing: 0.02rem;
	padding-left: 60px;
	position: relative;
}

.programs--proflie-header.mb-10 {
	margin-bottom: 4rem;
}

.programs--proflie-header::before {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	background-image: url('../img/main/footer/hashtag.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 50%;
	transform: translateY(-50%);
}

.programs--numbers__banner{
	width: 100%;
	min-height: 200px;
	padding: 1.5rem 2.4rem;
	background-color: var(--asu-accent);
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.programs--numbers__item{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0.3rem;
	justify-content: center;
	align-items: center;
}

.programs--numbers__item span{
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}

.programs--numbers__item span.negative{
	color: var(--asu-accent);
	background-color: #fff;
	padding: 0;
	font-size: 1.7rem;
	font-weight: 700;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
    margin: 0 auto;
	margin-bottom: 0.45rem;
}

.programs--numbers__item span.big{
	font-size: 3rem;
	margin-bottom: 0.1rem;
}

.programs--numbers__item ul {
	-webkit-padding-start: 0;
	padding-inline-start: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.programs--numbers__item li {
	margin-bottom: 0.1rem;
	font-size: 0.8rem;
	color: #fff;
	/* background-color: #fff; */
	/* color: var(--asu-accent); */
}

.programs--numbers__item li:last-child {
	margin-bottom: 0;
}

.programs--numbers__item small{
	color: #fff;
	font-size: 0.8rem;
}

.programs--numbers__divider{
	width: 2px;
	height: 90px;
	background-color: rgba(255, 255, 255, 0.65);
	margin: auto 7px;
	display: block;
	position: relative;
	border-radius: 2px;
}

.programs--bg-accent {
	background-color: var(--asu-accent);
	color: #fff;
}

.programs--content {
	padding: 1.8rem 1rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

.dropdown {
    height: 100%;
}

.dropdown--header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 2rem;
}

.dropdown--header::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--asu-green);
	position: absolute;
	bottom: -0.8rem;
}

.dropdown--button {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.9rem;
	opacity: 0.5;
	min-width: 150px;
	padding: 0.4rem;
	margin-bottom: 0.7rem;
	position: relative;
}

.dropdown--button::after{
	content: '';
	width: 0%;
	height: 2px;
	background-color: red;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	transition: width 0.3s ease;
}

.dropdown--button:hover::after {
	width: 100%;
}

.dropdown--button:nth-child(4n+1)::after{
	background-color: var(--asu-blue);
}
.dropdown--button:nth-child(4n+2)::after{
	background-color: var(--asu-orange);
}
.dropdown--button:nth-child(4n+3)::after{
	background-color: var(--asu-green);
}
.dropdown--button:nth-child(4n+4)::after{
	background-color: var(--asu-red);
}

.dropdown--button:focus,
.dropdown--button:hover {
	opacity: 1;
	outline: none;
}

.dropdown--button.active{
    opacity: 1;
}

@media screen and (max-width: 650px) {
	/* .dropdown--button {
		font-size: 1rem;
		padding: 1rem 0.6rem;
	} */
}

/* .dropdown--button:nth-child(4n + 1) {
	border-color: var(--asu-green);
	color: var(--asu-green);
	box-shadow: 0 0 5px 1px var(--asu-green__low_opacity);
}

.dropdown--button:nth-child(4n + 2) {
	border-color: var(--asu-orange);
	color: var(--asu-orange);
	box-shadow: 0 0 5px 1px var(--asu-orange__low_opacity);
}

.dropdown--button:nth-child(4n + 3) {
	border-color: var(--asu-green);
	color: var(--asu-green);
	box-shadow: 0 0 5px 1px var(--asu-green__low_opacity);
}

.dropdown--button:nth-child(4n + 4) {
	border-color: var(--asu-blue);
	color: var(--asu-blue);
	box-shadow: 0 0 5px 1px var(--asu-blue__low_opacity);
} */

.dropdown--content {
    overflow: hidden;
    height: 100%;
    padding: 2rem 0 3rem 0;
}

.dropdown--container {
    visibility: hidden;
    display: none;
    z-index: -1;
	font-size: 1.2rem;
	line-height: 1.6;
}

.dropdown--container.active {
    z-index: 1;
    visibility: visible;
    display: block;
}

.dropdown--container p {
	margin-bottom: 1rem;
}

.dropdown--container h2 {
    margin: 0.7rem 0 1.1rem 0;
    font-size: 2rem;
}

.dropdown--container h3 {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.3rem;
}

.dropdown--container ul li::marker,
.dropdown--container ol li::marker {
	color: var(--asu-green);
	font-size: 1.5rem;
	line-height: 0;
}



.dropdown--container img{
	-o-object-fit: contain;
	   object-fit: contain;
	margin-bottom: 1.4rem !important;
	margin-top: 1rem !important;
	display: block;
	margin: auto;
	width: auto;
}

.dropdown--container b{
	font-weight: 600;
}

.programs--contacts .callModalFormColumn input[type="submit"] {
	background-color: transparent;
    height: auto;
    padding: 15px 35px;
    display: block;
}

.programs--contacts .callModalFormColumn input[type="submit"]:hover,
.programs--contacts .callModalFormColumn input[type="submit"]:focus	{
	background-color: var(--asu-dark);
}

.programs--contacts {
	font-size: 1.2rem;
	line-height: 1.6;
}

.programs--form {
	display: block;
	width: 80%;
	margin: 0 auto;
}