@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gabriela&family=Oi&family=Rubik+Spray+Paint&display=swap");
/* Base styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --text-color: #05344f;
  --link-color: #063f60;

  --bg-color: #fff;
  --light-bg-color: #faf3f3;

  --light-green-color: #fe8f98;
  --semilight-green-color: #de4f5b;

  --light-green-opacity-color: #de4f5b81;

  --navigation: var(--light-green-color);
  --navigation-text: var(--light-bg-color);

  --base-font: "Gabriela", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    serif;
  --heading-font: "Dela Gothic One", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", serif;
  --secondary-font: "Oi", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  font-size: 20px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--base-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; /* Smoother fonts in WebKit */
  -moz-osx-font-smoothing: grayscale; /* Better rendering in Firefox macOS */
}

a {
  text-decoration: none;
  color: inherit;
  touch-action: manipulation;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

/* Header */
header {
  text-align: center;
  padding: 4em 2em;
  min-height: 60vh;
  min-height: 60dvh;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  min-height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-family: var(--heading-font);
  font-size: 3em;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

header h1 .divider {
  font-size: 0.5em;
  font-weight: 100;
  line-height: 0;
  opacity: 0.1;
  font-family: serif;
  color: var(--light-green-color);
}

header h2 {
  font-size: 3em;
  margin-top: 0.5em;
  font-weight: 400;
  letter-spacing: -0.04em;
  font-family: var(--base-font);
}

.decoration {
  position: absolute;
  height: 600px;
  pointer-events: none;
  z-index: -1;
  will-change: transform;
}

header .decoration.topleft {
  top: -110px;
  left: -170px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

header .decoration.bottomright {
  bottom: -115px;
  right: -135px;
  -webkit-transform: rotate(-110deg);
  -ms-transform: rotate(-110deg);
  transform: rotate(-110deg);
}

/* Navigation */
nav {
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--navigation);
}

nav a {
  margin: 0 1em;
  font-size: 1.1em;
  line-height: 1;
  color: var(--navigation-text);
  text-transform: uppercase;
  letter-spacing: -0.04em;
  z-index: 10;
}

nav a:hover {
  text-decoration: underline;
}

section {
  position: relative;
}

/* Section Styles */
.content {
  padding: 2em 1em 6em 1em;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.hero {
  padding: 5em 1em;
  text-align: center;
  text-wrap: balance;
  overflow: hidden;
}

section .decoration {
  -webkit-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  transform: rotate(-36deg);
  opacity: 0.2;
  right: -150px;
  top: 300px;
}

section .decoration.bottomleft {
  right: unset;
  top: unset;
  left: -200px;
  bottom: 0;
  opacity: 0.2;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

section .decoration.rightcenter {
  right: -100px;
  top: 50%;
  bottom: unset;
  left: unset;
  opacity: 0.2;
  -webkit-transform: translateY(-50%) rotate(275deg);
  -ms-transform: translateY(-50%) rotate(275deg);
  transform: translateY(-50%) rotate(275deg);
}

section .decoration.topleft {
  top: 0;
  left: -100px;
  right: unset;
  bottom: unset;
  opacity: 0.2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hero p {
  font-size: 1.2em;
}

.content h2 {
  font-size: 2em;
  letter-spacing: 0.07em;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  padding: 2rem 0;
  margin: 0 auto 2rem auto;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
}

.content h2::after {
  content: "";
  width: 80%;
  height: 0.5em;
  position: absolute;
  bottom: 0.75rem;
  left: 20%;
  right: 0;
  pointer-events: none;
  background-color: var(--light-green-color);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.1;
  border-radius: 16px;
}

h3 {
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  margin: 1.5rem 0;
  line-height: 1;
}

p {
  margin-bottom: 1em;
  text-align: center;
}

.venue .route {
  display: block;
  margin: 4rem auto 0 auto;
  padding: 0.5rem 4rem 0.5rem 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--bg-color);
  background-color: var(--semilight-green-color);
  border-radius: 48px;
  letter-spacing: -0.04em;
  position: relative;
}

.venue .route svg {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  stroke: currentColor;
}

.content.schedule .details {
  text-wrap: balance;
}

/* Schedule */

.schedule-list {
  list-style: none;
  padding: 0;
  padding: 2rem;
  border-radius: 8px;
}

.schedule-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
}

.schedule-list li strong {
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: end;
  line-height: 1.2;
}

.schedule-list li .srow {
  border-bottom: 2px dotted var(--light-green-color);
  height: 2px;
  width: 100%;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.schedule-list li span {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 1;
  color: var(--light-green-color);
  opacity: 0.5;
}

/* Calendar */

.calendar {
  --border-radius: 8px;
  margin-top: 2rem;
  position: relative;
  padding: 2em 3em;
  border-radius: var(--border-radius);
  background-color: var(--light-green-opacity-color);
  width: 100%;
  max-width: 100%;
  font-family: var(--base-font);
  -webkit-box-shadow: 2px 3px 10px var(--light-green-opacity-color);
  box-shadow: 2px 3px 10px var(--light-green-opacity-color);
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
  color: var(--bg-color);
  table-layout: fixed;
  overflow: hidden;
}

.calendar table caption {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.07em;
  margin-bottom: 1rem;
  line-height: 1;
}

.calendar table tr {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.calendar table tr:first-child,
.calendar table tr:last-child {
  border: none;
}

.calendar table th {
  font-size: 1.5rem;
  border: none;
}

.calendar table td {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  padding: 1rem;
}

.calendar table td.highlight {
  position: relative;
}

.calendar table td.highlight .heart {
  position: absolute;
  left: 50%;
  top: 40%;
  height: 150px;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
  text-align: center;
  padding: 1em;
  background: var(--semilight-green-color);
  font-size: 0.9em;
  color: var(--bg-color);
}

/* Responsive adjustments */
@media (max-width: 800.99px) {
  header h1 {
    font-size: 1.6rem;
    line-height: 1.4;
    position: relative;
  }

  header h1 .divider {
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 0.85em;
  }

  header h2 {
    font-size: 1.7rem;
  }

  .content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  .schedule-list li {
    gap: 0.5rem;
  }

  .schedule-list li span {
    font-size: 1.5rem;
  }

  .schedule-list li strong {
    font-size: 1rem;
    white-space: normal;
  }

  .calendar {
    padding: 1em 1.5em;
  }

  .calendar table caption {
    font-size: 1.5rem;
  }

  .calendar table th {
    font-size: 1rem;
  }

  .calendar table td {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #recepientInviteTitle {
    font-size: 1.3rem;
  }

  .decoration {
    height: 380px;
  }

  section .decoration {
    right: -40px;
    top: 500px;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    opacity: 0.2;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }

  section .decoration.bottomleft {
    opacity: 0.2;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    bottom: -100px;
    left: -100px;
  }

  section .decoration.rightcenter {
    opacity: 0.2;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    right: -200px;
  }

  header .decoration.topleft {
    top: -100px;
    left: -150px;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  header .decoration.bottomright {
    bottom: -150px;
    right: -185px;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  .palette-color {
    --size: 3em;
  }

  nav {
    display: none;
  }

  .hero {
    padding: 3em 1em;
  }
}
