/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS VARIABLES */

:root {
	--color-white: #f7f7f7;
	--color-gray: #424656;
	--color-gray--light: #a6abbd;
	--color-black: #2b1a17;
	--color-blue: #487ed5;
	--color-blue--contrast: #4b80ea;
	--color-blue--light: #e5f0ff;
	--color-accent: #ff5f1f;
	--color-accent--opacity: #ff5f1f3d;
	--color-highlight: #eee8a9;

	--main-font: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--secondary-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

	--i: calc(1vw + 1vh);
	--gutter-x: 1.5rem;
}

/* MAIN STYLES */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:focus,
*:focus-visible,
*:focus-within {
	outline-color: var(--color-accent);
}
*::-moz-selection {
	background-color: var(--color-accent);
	color: var(--color-black);
}
*::selection {
	background-color: var(--color-highlight);
	color: var(--color-black);
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}
blockquote {
	margin: 0 0 1rem;
}
ul > li::marker,
ol > li::marker {
	color: var(--color-blue);
	font-size: 1.3rem;
	font-weight: 800;
	font-family: var(--secondary-font);
	line-height: 1;
}
ul,
ol {
	display: flex;
	flex-direction: column;
	gap: 0.33rem;
	padding-inline-start: 0;
	padding-left: 20px;
}
html {
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.15;
}
@-ms-viewport {
	width: device-width;
}
hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}
small {
	font-size: 80%; /* Add the correct font size in all browsers */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--main-font);
	margin-bottom: 1rem;
}
[hidden] {
	display: none !important;
}
a {
	text-decoration: none;
	color: var(--color-black);
	cursor: pointer;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
	outline: 0;
}
a:focus {
	outline-color: rgba(0, 0, 0, 0.15);
}
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
.container {
	width: 100%;
	padding-right: calc(var(--gutter-x) * 0.5);
	padding-left: calc(var(--gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

body {
	position: relative;
	font-family: var(--main-font);
	font-size: 18px;
	color: var(--color-black);
	background-color: var(--color-white);
	line-height: 1.6;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
}

.text-accent {
	color: var(--color-accent);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/* BUTTONS */

.button {
	display: block;
	width: max-content;
	height: auto;
	padding: calc(0.4 * var(--i)) calc(1.5 * var(--i));
	border-radius: 5px;
	border: none;
	background-color: var(--color-accent);
	color: var(--color-white);
	font-size: 1.05rem;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	border: 3px solid transparent;
	outline-offset: 7px;
	transition: all 0.15s ease-in-out;
	cursor: pointer;
}
.button:hover,
.button:focus {
	filter: contrast(1.1);
	border-bottom: 3px solid rgba(0, 0, 0, 0.25);
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.button.button--secondary {
	background-color: var(--color-gray);
}
.button.button--outlined {
	background-color: transparent;
	color: inherit;
	border: 3px solid var(--color-accent);
}
.button.button--outlined:hover,
.button.button--outlined:focus {
	background-color: var(--color-accent);
	color: var(--color-white);
	opacity: 1;
}
.button.button.button--secondary.button--outlined {
	background-color: transparent;
	border: 3px solid var(--color-gray);
}
.button.button--secondary.button--outlined:hover,
.button.button--secondary.button--outlined:focus {
	background-color: var(--color-gray);
	color: var(--color-white);
	opacity: 1;
}

/* HEADER */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px calc(var(--i) * 1.5);
	background-color: var(--color-white);
	border-bottom: 2px solid var(--color-gray--light);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	max-height: 90px;
	transition: opacity 0.2s ease-in-out;
	z-index: 999;
}
.header:hover {
	opacity: 1;
}
.header-logo {
	position: relative;
	border: 3px solid transparent;
}
.header-logo::after {
	content: "";
	width: calc(100% - 1rem);
	height: 100%;
	border: 3px solid var(--color-accent);
	position: absolute;
	left: 1.5rem;
	top: 0px;
	z-index: -1;
	transition: background-color 0.25s ease-in-out;
}
.header-logo:hover::after,
.header-logo:focus::after {
	background-color: var(--color-accent);
}
.header-logo > .logo {
	font-size: 40px;
	color: var(--color-black);
	letter-spacing: -0.07em;
	font-weight: 600;
	z-index: 3;
}
.header-logo .logo-text {
	color: var(--color-black);
	letter-spacing: 0.04em;
	margin-left: 0.3em;
	transition: color 0.25s ease-in-out;
}
.header-logo:hover .logo-text,
.header-logo:focus .logo-text {
	color: var(--color-white);
}
.header-nav ul {
	flex-direction: row;
	list-style-type: none;
	gap: 1rem;
}
.header-nav ul > li a {
	font-weight: 300;
	font-size: 1.1em;
	letter-spacing: -0.04em;
	color: var(--color-black);
	transition: all 0.2s ease-in-out;
	position: relative;
	overflow: hidden;
}
.header-nav ul > li a::before {
	content: "";
	width: calc(100% + 1rem);
	height: 100%;
	background-color: var(--color-accent);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	transform: translateX(-105%);
	z-index: -1;
}
.header-nav ul > li a:hover,
.header-nav ul > li a:focus {
	color: var(--color-white);
}
.header-nav ul > li a:hover::before,
.header-nav ul > li a:focus::before {
	opacity: 1;
	transform: translateX(-0.5rem);
}

.header-nav-wrapper--mobile {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1001;
	background-color: var(--color-blue--contrast);
	transform: translateX(120%);
	transition: all 0.25s ease-in-out;
}
.header-nav-wrapper--mobile .header-nav ul {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 0;
}
.header-nav-wrapper--mobile .header-nav ul li a {
	font-size: 2rem;
	color: var(--color-white);
	font-weight: 500;
}
#closeMobileNavigation {
	position: absolute;
	right: 2rem;
	top: 2rem;
	fill: var(--color-white);
	cursor: pointer;
}

/* BASE */

.main {
	min-height: 100dvh;
	overflow-x: hidden;
	padding-top: 80px;
}
.section {
	position: relative;
	padding-top: calc(4 * calc(1vh + 1vw) + 40px);
	padding-bottom: calc(4 * calc(1vh + 1vw) + 40px);
	overflow: hidden;
}
.section--light {
	background-color: #fff;
}
.section .section-title {
	font-size: 2.5rem;
	text-align: center;
	position: relative;
	width: max-content;
	max-width: 80%;
	margin: 0 auto 4rem auto;
	text-align: center;
	text-shadow: 2px 3px 0px rgb(0, 0, 0, 0.15);
	color: var(--color-white);
	background-color: var(--color-blue--contrast);
	padding: 0.4rem 2.5rem;
	line-height: 1.05;
	box-shadow: inset -14px -8px 20px 0px rgba(0, 0, 0, 0.2),
		15px 13px 3px rgba(0, 0, 0, 0.25);
	transform: skewX(357deg);
}
.section .section-title::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: var(--color-blue--light);
	bottom: -10px;
	left: 0;
	right: 0;
	border-radius: 10px;
	display: none;
}

@media screen and (max-width: 720px) {
	.section .section-title {
		font-size: 2rem;
		max-width: 90%;
	}
}

/* MAIN SECTION */
.main-section {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 80px);
	background-color: var(--color-blue);
}
.main-container {
	display: grid;
	grid-template-columns: 700px 1fr;
	align-items: center;
}
.main-text {
	width: min(80vw, 700px);
}
span.main-subtitle {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: -0.04em;
	line-height: 1.3;
	color: var(--color-blue);
	padding: 0.3em 0.6em;
	display: inline;
	background-color: var(--color-white);
}
.main-title {
	font-size: 4rem;
	font-weight: 500;
	letter-spacing: 0.03em;
	line-height: 1.4;
	color: var(--color-white);
	margin-bottom: 1.5rem;
	margin-top: 3rem;
}
h2.main-subtitle {
	color: var(--color-white);
	font-size: 1.7rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.25;
	margin-bottom: 4rem;
}
.main-animation .player {
	width: 100%;
	height: auto;
}

/* ABOUT SECTION */
.about-section {
	font-size: 22px;
}
.about-container {
	background-color: #fff;
	padding: 3rem 2rem;
	border-radius: 20px;
	border: 20px solid var(--color-blue--light);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.125);
	z-index: 1;
}
.about-section h2 {
	margin-bottom: 1.5rem;
	margin-top: 3rem;
	text-align: center;
}
.about-section p {
	margin-bottom: 1em;
	letter-spacing: -0.03em;
	font-weight: 300;
}
.about-section p:last-child {
	margin-bottom: 0;
}
.about-section li {
	font-weight: 300;
}
.about-section strong {
	font-weight: 500;
}

/* SCIENTISTS */
.scientists-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
}
@media screen and (max-width: 720px) {
	.scientists-wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
}
.scientists-item {
	width: 100%;
	height: auto;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	/* border: 10px solid var(--color-accent--opacity); */
	transition: all 0.25s ease-in-out;
}
.scientists-item img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	z-index: 0;
	position: relative;
	transition: transform 0.25s ease-in-out;
}
.scientists-item:hover img,
.scientists-item:focus img {
	transform: scale(1.05);
}
.scientists-item .hider {
	z-index: 2;
	content: "";
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	left: 0;
	top: 0;
	right: 0;
	background: linear-gradient(
		130deg,
		rgb(228, 220, 220) 0%,
		rgb(5, 14, 39) 100%
	);
	position: absolute;
	display: block;
	opacity: 0.25;
	transition: opacity 0.25s ease-in-out;
}
.scientists-item:hover .hider,
.scientists-item:focus .hider {
	opacity: 0;
}
.scientists-item figcaption {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%) translateY(200%);
	font-size: 18px;
	letter-spacing: 0.03em;
	font-weight: 400;
	background-color: #fff;
	color: var(--color-black);
	padding: 0.4rem 1rem;
	border-radius: 3px;
	text-align: center;
	transition: transform 0.25s ease-in-out;
	width: 100%;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
	z-index: 4;
}
@media screen and (max-width: 720px) {
	.scientists-item figcaption {
		font-size: 14px;
	}
}
.scientists-item:hover figcaption,
.scientists-item:focus figcaption {
	transform: translateX(-50%) translateY(0);
}

/* LABS */

.labs-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.labs-item figure {
	position: relative;
	overflow: hidden;
	aspect-ratio: 1;
	cursor: pointer;
}
.labs-item img {
	object-fit: cover;
	object-position: center;
	height: 100%;
}
.labs-item figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	color: var(--color-white);
	opacity: 0;
	backdrop-filter: blur(2px);
	transition: opacity 0.25s ease-in-out;
}
.labs-item figcaption::before {
	content: "";
	display: block;
	position: absolute;
	left: -2px;
	right: -2px;
	bottom: -2px;
	top: -2px;
	width: 105%;
	height: 105%;
	background-color: var(--color-black);
	z-index: -1;
	opacity: 0.3;
}
.labs-item:hover figcaption,
.labs-item:focus-within figcaption {
	opacity: 1;
}
.labs-item figcaption .button {
	margin: 0 auto;
	font-size: 12px;
}
.labs-item figcaption h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.3;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
}

/* FOOTER */
.footer {
	min-height: 30vh;
	background-color: var(--color-black);
	color: var(--color-white);
	padding-top: calc(var(--i) * 3);
	padding-bottom: calc(var(--i) * 2);
}
.footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}
@media screen and (max-width: 1100px) {
	.footer-container {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
	}
}
@media screen and (max-width: 600px) {
	.footer-container {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		text-align: center;
	}
	.footer-container ul {
		list-style-type: none;
	}
	.footer-container ul li a:hover,
	.footer-container ul li a:focus {
		text-decoration: underline;
	}
}
.footer a {
	color: var(--color-white);
}
.footer h1 {
	margin-bottom: 1rem;
}
.footer ul li::marker {
	color: var(--color-accent);
}
.footer-logo {
	position: relative;
	border: 3px solid transparent;
	display: block;
	z-index: 3;
}
.footer-logo::after {
	content: "";
	width: calc(100% - 3.2rem);
	height: 100%;
	border: 3px solid var(--color-accent);
	position: absolute;
	left: 2.2rem;
	top: 0px;
	transition: background-color 0.25s ease-in-out;
	z-index: -1;
}
.footer-logo:hover::after,
.footer-logo:focus::after {
	background-color: var(--color-accent);
}
.footer-logo > .logo {
	font-size: 60px;
	color: var(--color-white);
	letter-spacing: -0.07em;
	font-weight: 600;
	z-index: 3;
}
.footer-logo .logo-text {
	color: var(--color-white);
	letter-spacing: 0.04em;
	margin-left: 0.3em;
	transition: color 0.25s ease-in-out;
	z-index: 3;
}
.footer-logo:hover .logo-text,
.footer-logo:focus .logo-text {
	color: var(--color-white);
}

/* TECHNOLOGIES */

.technologies-wrapper {
	list-style: none;
	padding: 0;
	column-count: 3;
	column-gap: 10px;
	display: block;
	width: 100%;
	margin: 0 auto;
}
@media screen and (max-width: 759.5px) {
	.technologies-wrapper {
		column-count: 1;
	}
}
@media (min-width: 760px) and (max-width: 979.5px) {
	.technologies-wrapper {
		column-count: 2;
	}
}
@media (min-width: 980px) and (max-width: 1023.5px) {
	.technologies-wrapper {
		column-count: 3;
	}
}
.technologies-item {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	break-inside: avoid;
	position: relative;
	transition: box-shadow 0.25s ease-in-out;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

@media screen and (max-width: 720px) {
	.technologies-item {
		aspect-ratio: 1;
		max-height: 300px;
	}
	.technologies-item img {
		aspect-ratio: 1 !important;
	}
}

.technologies-item:hover,
.technologies-item:focus {
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}
.technologies-item > .hider {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		115deg,
		hsl(220deg 100% 21%) 0%,
		hsl(220deg 82% 21%) 5%,
		hsl(220deg 67% 21%) 10%,
		hsl(220deg 54% 19%) 18%,
		hsl(220deg 43% 18%) 28%,
		hsl(220deg 33% 16%) 46%,
		hsl(220deg 25% 14%) 63%,
		hsl(220deg 18% 11%) 75%,
		hsl(220deg 11% 8%) 85%,
		hsl(220deg 5% 4%) 93%,
		hsl(0deg 0% 0%) 100%
	);
	opacity: 0.6;
	z-index: 1;
}
.technologies-item:nth-child(n) img {
	aspect-ratio: 11 / 13;
}
.technologies-item:nth-child(2n) img {
	aspect-ratio: 1;
}
.technologies-item:nth-child(3n) img {
	aspect-ratio: 6 / 5;
}
.technologies-item:nth-child(4n) img {
	aspect-ratio: 5 / 6;
}
.technologies-item:nth-child(1) img {
	aspect-ratio: 3 / 4;
}
.technologies-item img {
	width: 100%;
	height: auto;
	z-index: 0;
	display: block;
	position: relative;
	object-fit: cover;
	object-position: center;
	filter: blur(3px);
	transition: filter 0.25s ease-in-out;
}
.technologies-item:hover img,
.technologies-item:focus img {
	filter: blur(0);
}
.technologies-item > a.button.button--outlined {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	padding: 0.4rem 1rem;
	border: 1px solid var(--color-accent);
	color: var(--color-white);
	background-color: var(--color-accent--opacity);
	backdrop-filter: blur(2px);
	text-transform: none;
	z-index: 2;
}
.technologies-item > a.button.button--outlined:hover,
.technologies-item > a.button.button--outlined:focus {
	color: var(--color-white);
	background-color: var(--color-accent);
}
.technologies-item h2 {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	color: var(--color-white);
	text-align: center;
	line-height: 1.3;
	z-index: 3;
	font-weight: 400;
	margin: 0;
}

/* PARTNERS */

.partners-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 3rem;
}
.partners-item {
	overflow: hidden;
	border: 5px solid var(--color-blue--light);
	padding: 1rem 0.5rem;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	background-color: #fff;
}
.partners-item:hover,
.partners-item:focus {
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
	border-bottom: 5px solid var(--color-gray--light);
	border-right: 5px solid var(--color-gray--light);
}
.partners-item figure {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
}
.partners-item img {
	object-fit: contain;
	object-position: center;
	aspect-ratio: 1;
	width: 120px;
	height: auto;
}
.partners-item figcaption {
	text-align: center;
	line-height: 1.2;
	font-weight: 300;
	letter-spacing: 0.02em;
}

/* MEDIA */
@media screen and (min-width: 961px) {
	#openMobileNavigation {
		display: none;
		cursor: pointer;
	}
}
@media screen and (max-width: 960px) {
	.header-nav-wrapper {
		display: none;
	}
	.main-container {
		display: flex;
		flex-direction: column;
	}
	.main-text {
		text-align: center;
		margin: auto;
	}
	.main-text .button {
		margin-left: auto;
		margin-right: auto;
	}
	.labs-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	.labs-item figcaption h2 {
		font-size: 1.5rem;
	}
	.partners-wrapper {
		gap: 10px;
	}
}
@media screen and (max-width: 450px) {
	span.main-subtitle {
		font-size: 1rem;
	}
	.main-title {
		font-size: 2.5rem;
	}
	h2.main-subtitle {
		font-size: 1.3rem;
	}
	.main-text .button {
		font-size: 0.9rem;
	}
	.section .section-title {
		font-size: 1.7rem;
		padding: 0.4rem 1.6rem;
	}
	.about-container h2 {
		font-size: 1.3rem;
	}
	.about-container p,
	.about-container li {
		font-size: 18px;
	}
	.technologies-item h2 {
		font-size: 1.5rem;
	}
	.labs-wrapper {
		display: flex;
		flex-direction: column;
	}
}
