body {
  padding: 30px;
}
.appDescription {
  width: 700px;
  padding: 15px 0;
}
.mapWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 30px;
}
.buttonsWrapper {
  margin-bottom: 30px;
}
#map {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  border-radius: 15px;
  width: 700px;
  height: 700px;
  width: 100%;
}
.routersList {
  height: auto;
  width: calc(100%-700px - 30px);
  padding-top: 20px;
}
.routersWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 15px;
  margin-bottom: 30px;
}
.routersHeading {
  margin-bottom: 30px;
  font-size: 1.3rem;
}
.router {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 15px 10px;
  border-bottom: 2px solid #01a0e9;
  width: 100%;
  max-width: 450px;
  transition: all 0.2s ease;
  user-select: none;
  position: relative;
}
.router:hover,
.router:active,
.router:target,
.router.selected {
  background-color: #f1f1f1;
}

.router-popup {
  font-weight: 700;
  font-size: 1.2em;
  max-width: 250px;
}

.leaflet-marker-icon {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));
}
.leaflet-popup-content-wrapper {
  padding: 5px;
}
.router-info {
  display: flex;
  flex-direction: column;
}
.router-info small b {
  margin-right: 5px;
}
.router-name {
  line-height: 1.2;
  margin-bottom: 0.6rem;
  max-width: 200px;
  font-size: 1.15rem;
  font-weight: 600;
  position: relative;
  padding-left: 1.5rem;
  color: #4e73df;
}
.router-name::before {
  content: '';
  color: #60be92;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-51%);
  width: 1.4rem;
  height: 1.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./icons/mapMarker.svg");
}
.router.unset .router-name {
    padding: 0;
}
.router.unset .router-name::before {
  display: none;
}
.router-remove {
  background-color: transparent;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  top: 15px;
  right: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.router-remove:disabled {
  opacity: 50%;
  filter: grayscale(.5);
  cursor: not-allowed;
}
.router img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
.router-status span {
  padding-left: 12px;
  position: relative;
  align-self: center;
}
.router-status span.on::before,
.router-status span.off::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.router-status span.on::before {
  background-color: #60be92;
}
.router-status span.off::before {
  background-color: #e74a3b;
}
.router-ip {
  display: flex;
  user-select: text;
}
.router-ip span {
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;
  text-overflow: ellipsis;
}
