/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) { 
header {
    background-size: 200%;
}
header h1 {
    font-size: 3em;
}
header h2 {
 font-size: 2em;
}
}

/* Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {
    header {
    background-size: 130%;
}
.adv{
    margin-left: 0px;
    margin-right: 0px;
}

/* Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {
    header {
    background-size: 120%;
}
.header_contact {
    text-align: center;
    color: black;
}
}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
    header {
    background-size: 100%;
}

}