/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) { 
header {
    background-size: 250%;
}
.header_contact {
    color: white;
}
}

/* Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {
    header {
    background-size: 200%;
}
.header_contact {
    color: white;
}
}

/* Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {
    header {
    background-size: 150%;
}
.header_contact {
    text-align: center;
    color: black;
}
}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
    header {
    background-size: 100%;
}

}