/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) { 
header {
    background-size: 200%;
}
header h1 {
    font-size: 3em;
}
header h2 {
 font-size: 2em;
}
.about img {width: 40%;}
.portfolio img {width: 40%;}
.achievments img{width:40%;}
ch_achievements img{width: 40%;}
for_kids img{width: 40%;}
.diplom {width: 40%;}
}
/* Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {
    header {
    background-size: 130%;
}
.adv{
    margin-left: 0px;
    margin-right: 0px;
}
.about img {width: 60%;}
.portfolio img {width: 50%;}
.achievments img{width:60%;}
ch_achievements img{width: 60%;}
for_kids img{width: 60%;}
}
/* Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {
    header {
    background-size: 120%;
}
.header_contact {
    text-align: center;
    color: black;
}
.about img {width: 70%;}
.portfolio img {width: 50%;}
.achievments img{width:70%;}
ch_achievements img{width: 70%;}
for_kids img{width: 70%;}

}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
    header {
    background-size: 100%;
}
.about img {width: 100%;}
.portfolio img {width: 50%;}
.achievments img{width:100%;}
ch_achievements img{width: 100%;}
for_kids img{width: 100%;}
.diplom {width: 40%;}

}