.footer
    background-color: $dark
    display: flex
    flex-direction: column
    padding: $gutter * 2 0
.footer-links-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: $gutter
    opacity: 0.9
    @media screen and (max-width: 768px)
        flex-direction: column
.footer-description
    color: $light
    width: 60%
    padding: 0 15px
    @media screen and (max-width: 768px)
        width: 100%
        margin-bottom: $gutter / 2
    &-text
        margin: 0
.footer-nav
    color: $light
    width: 30%
    padding: 0 15px
    @media screen and (max-width: 768px)
        width: 100%
    &-list
        display: inline-flex
        flex-direction: column
        padding-inline-start: $gutter / 1.5
.footer-copyrights
    border-top: 2px solid rgba($light, 0.2)
    padding-top: $gutter
    color: $light
    text-align: center
    opacity: 0.9
    @media screen and (max-width: 768px)
        padding: $gutter / 2