/* MAIN */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Unbounded:wght@400;500;700&display=swap");

:root {
  --blue: #1068ed;
  --blue-rgb: 16, 104, 237;
  --purple: #6f42c1;
  --purple-rgb: 111, 66, 193;
  --light-purple: #e470f8;
  --light-purple-rgb: 228, 112, 248;
  --dark-blue: #301b67;
  --dark-blue-rgb: 48, 27, 103;
  --accent: #82c3ec;
  --accent: #20d4e7;
  --accent-rgb: 32, 212, 231;
  --white: #f8f9fa;
  --white-rgb: 248, 249, 250;
  --black: #18191b;
  --black-rgb: 24, 25, 27;
  --highlight: #fff3cd;
  --gray: #e0e0e0;

  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  --text-font: "Montserrat", "Roboto", sans-serif;
  --heading-font: "Unbounded", cursive;
}
*:focus,
*:focus-visible,
*:focus-within {
  outline-color: var(--highlight);
}
*::selection {
  background-color: var(--highlight);
  color: var(--black);
}
body {
  font-size: 18px;
  font-family: var(--text-font);
  background-color: var(--blue);
  color: var(--white);
  background: rgb(65, 77, 199);
  background: linear-gradient(
    100deg,
    var(--blue) 0%,
    var(--purple) 66%,
    var(--dark-blue) 100%
  );
}
.container {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
ul li::marker {
  color: var(--purple);
}
.button {
  padding: 1rem 1.9rem;
  text-decoration: none;
  border-radius: 1rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-family: var(--heading-font);
  display: block;
  width: max-content;
  position: relative;
  transition: all 0.25s ease-in;
  will-change: contents;
  background-color: var(--white);
  box-shadow: 1px 1px 3px 2px rgba(var(--black-rgb), 0.2),
    -1px -1px 3px 2px rgba(var(--white-rgb), 0.2),
    8px 8px 6px 2px rgba(var(--black-rgb), 0.15),
    -8px -8px 6px 2px rgba(var(--white-rgb), 0.15),
    10px 10px 10px 8px rgba(var(--black-rgb), 0.1),
    -10px -10px 10px 8px rgba(var(--white-rgb), 0.1);
  color: var(--dark-blue);
  filter: contrast(1.2);
}
.button:hover,
.button:focus {
  color: var(--black);
  background-color: var(--white);
  transform: translateY(-2px);
  box-shadow: 2px 2px 3px 1px rgba(var(--black-rgb), 0.3),
    -2px -2px 3px 1px rgba(var(--white-rgb), 0.3),
    5px 5px 6px 2px rgba(var(--black-rgb), 0.2),
    -5px -5px 6px 2px rgba(var(--white-rgb), 0.2);
}
.section {
  position: relative;
  min-height: 40vh;
  padding-top: 100px;
  padding-bottom: 150px;
  overflow: hidden;
}
.section--light {
  background-color: var(--white);
  color: var(--black);
  position: relative;
}
.section--light::before,
.section--light::after {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  opacity: 0.25;
  z-index: 0;
}
.section--light::before {
  background: linear-gradient(180deg, var(--black) 0%, transparent 100%);
  top: 0;
}
.section--light::after {
  background: linear-gradient(0deg, var(--black) 0%, transparent 100%);
  bottom: 0;
}

.image {
  width: 100%;
  height: auto;
}
.title {
  margin-bottom: 80px;
  text-align: center;
  font-size: 2.6rem;
}

/* HEADER */
.header {
  padding: 15px 50px;
  min-height: 80px;
  z-index: 99;
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease-in-out;
}
.header.active {
  background-color: rgba(var(--black-rgb), 0.3);
  border-bottom: 2px solid rgba(var(--black-rgb), 0.1);
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.header-container a img {
  filter: drop-shadow(1px 1px 3px rgba(var(--white-rgb), 0.4));
}
.header-menu {
  display: flex;
  position: relative;
  flex-direction: row;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}
.header-menu--item {
  margin: 0 1rem;
}
.header-menu--item a {
  color: inherit;
  text-decoration: none;
  font-family: var(--heading-font);
  text-shadow: 2px 2px 1px rgba(var(--black-rgb), 0.4);
}

/* MAIN SECTION */
.main-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main-logos {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}
.main-logos img {
  align-self: center;
  height: 45px;
  width: auto;
  filter: drop-shadow(2px 2px 1px rgba(var(--black-rgb), 0.25));
}
.main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-title {
  margin-bottom: 2rem;
  letter-spacing: -0.02em;
}
.main-subtitle {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  width: 70%;
  line-height: 1.4;
}
.main-image {
  width: 40%;
}

/* NEWS SECTION */
.news-title {
  text-align: center;
}
.news-wrapper {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  grid-gap: 30px 30px;
  height: 100%;
  grid-template-areas:
    "d d . ."
    "d d . .";
}

.news-item {
  background-color: var(--blue);
  padding: 2rem;
  min-height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--white);
  filter: grayscale(0.2) brightness(0.95) invert(0.1);
  transition: all 0.3s ease-in-out;
  will-change: contents;
  box-shadow: 2px 2px 3px 1px rgba(var(--black-rgb), 0.3),
    -2px -2px 3px 1px rgba(var(--white-rgb), 0.3),
    5px 5px 6px 2px rgba(var(--black-rgb), 0.2),
    -5px -5px 6px 2px rgba(var(--white-rgb), 0.2),
    10px 10px 6px 4px rgba(var(--black-rgb), 0.1),
    -10px -10px 6px 4px rgba(var(--white-rgb), 0.1);
}
.news-item::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 55%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: var(--accent);
  background: -webkit-linear-gradient(to bottom, transparent, var(--dark-blue));
  background: linear-gradient(to bottom, transparent, var(--dark-blue));
  opacity: 1;
  z-index: 1;
}
.news-item:hover {
  color: var(--white);
  filter: contrast(1.2);
  transform: translateY(2px);
  box-shadow: 2px 2px 3px 1px rgba(var(--black-rgb), 0.3),
    -2px -2px 3px 1px rgba(var(--white-rgb), 0.3),
    5px 5px 6px 2px rgba(var(--black-rgb), 0.2),
    -5px -5px 6px 2px rgba(var(--white-rgb), 0.2);
}
.news-item:first-child {
  grid-area: d;
  filter: contrast(1.2);
}
.news-item--title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.75;
  text-shadow: 1px 2px 0 rgba(var(--black-rgb), 0.3);
  z-index: 2;
}
.news-item:first-child .news-item--title {
  font-size: 1.2rem;
  bottom: 2rem;
  left: 1.5rem;
}
.news-item--date {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.75rem;
  text-shadow: 1px 2px 0 rgba(var(--black-rgb), 0.5);
  mix-blend-mode: overlay;
  z-index: 2;
}
.news-item:hover .news-item--date {
  mix-blend-mode: unset;
}
.news-item:first-child .news-item--date {
  font-size: 1.2rem;
}

/* ABOUT */
.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 75%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.about-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
}
.about-item::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 3px;
  background-color: rgba(var(--white-rgb), 0.35);
  background-color: var(--light-purple);
  opacity: 0.15;
  position: absolute;
  bottom: -31px;
  left: 0;
  right: 0;
  border-radius: 100%;
}
.about-item:last-child::after {
  display: none;
}
.about-item:nth-child(2n) {
  flex-direction: row-reverse;
}
.about-text {
  font-size: 1.15rem;
  margin: 0;
  line-height: 1.8;
  width: calc(100% - 300px);
  letter-spacing: -0.04em;
}
.about-icon {
  width: 300px;
}
.about-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-number {
  position: absolute;
  top: -0.5ch;
  font-size: 6rem;
  font-family: var(--heading-font);
  font-weight: 900;
  z-index: -1;
  letter-spacing: -0.06em;
  opacity: 0.45;
}
/* NUMBERS */
.numbers-section {
  padding-bottom: 100px;
  padding-top: 0;
}
.numbers-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  align-items: flex-start;
  justify-content: space-evenly;
  font-family: var(--heading-font);
}
.number-item {
  width: 25%;
  align-self: stretch;
  text-align: center;
}
.numbers-description {
  margin: 0;
  position: relative;
  line-height: 1.3;
}
.number {
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 2px 3px rgba(var(--black-rgb), 0.4);
  will-change: contents;
}

/* FAQ */
.faq-item {
  margin-bottom: 30px;
}
.faq-summary {
  list-style-type: none;
  list-style: none;
  background-color: #fff;
  border: 3px solid var(--purple);
  border-radius: 30px;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.2s ease;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--heading-font);
  box-shadow: 2px 3px 5px 1px rgba(var(--black-rgb), 0.2);
}
.faq-summary::before {
  content: "✔";
  color: var(--purple);
  line-height: 0;
  font-size: 1.35rem;
  border-radius: 100%;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.faq-summary::marker,
.faq-summary::-webkit-details-marker {
  display: none;
}
.faq-summary:hover {
  background-color: var(--purple);
  color: var(--white);
}
.faq-summary:hover::before {
  color: var(--white);
}
.faq-summary::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 3px solid var(--purple);
  border-right: 3px solid var(--purple);
  border-radius: 2px;
  font-size: 1.3rem;
  right: 1rem;
  top: 50%;
  transform: rotate(45deg) translateX(-60%);
  transform-origin: center;
  color: var(--purple);
  transition: all 0.3s ease-in-out;
}
.faq-summary:hover::after {
  border-bottom: 3px solid var(--white);
  border-right: 3px solid var(--white);
}
.faq-item[open] .faq-summary::after {
  transform: rotate(225deg) translateX(60%);
}
.faq-answer {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 2rem;
  line-height: 1.8;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 2px 3px 4px 2px rgba(var(--black-rgb), 0.2);
  background-color: var(--gray);
}
.faq-answer ul,
.faq-answer p {
  margin: 0;
}
/* TEAM */
.team-swiper {
  width: 100%;
  height: 800px;
  padding-top: 40px;
}
.swiper-slide {
  height: calc((100% - 30px) / 2) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-progressbar {
  opacity: 0.5;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--accent);
}
.swiper-navigation {
  bottom: 0;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--dark-blue);
  top: 54%;
}
.team-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  user-select: none;
}
.team-photo {
  /* max-width: 100%; */
  height: 210px;
  width: 210px;
  aspect-ratio: 1 / 1;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 4px 4px 7px 0px rgba(var(--black-rgb), 0.1),
    -4px -4px 7px 0px rgba(var(--white-rgb), 0.1);
  border: 5px solid var(--white);
}
.team-name {
  font-size: 1.2rem;
}
.team-description {
  font-size: 0.9rem;
  margin-bottom: 0;
}

/* PROGRAMS */
.programs-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 45px;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.programs-item {
  margin: 0 30px;
}
.programs-item:hover .programs-logo {
  transform: scale(1.05);
}
.programs-logo {
  width: auto;
  max-height: 300px;
  margin-bottom: 1.3rem;
  transition: transform 0.3s ease-in-out;
}
.program-title {
  font-size: 1.35rem;
  text-align: center;
  margin: 0;
}

/* PARTNERS */
.partners-wrapper {
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}
.partners-item {
  width: 200px;
  height: auto;
  object-fit: contain;
  align-self: center;
  text-align: center;
  min-height: 150px;
  filter: drop-shadow(3px 5px 2px rgba(var(--black-rgb), 0.2));
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.partners-item:hover,
.partners-item.active {
  transform: scale(1.02);
}
#partnersInfoWrapper {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}
#partnersInfoWrapper.visible {
  visibility: visible;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 50%;
  background-color: #fff;
  border-radius: 30px;
  padding: 4rem 4rem;
  box-shadow: 3px 4px 7px 4px rgb(var(--black-rgb), 0.2);
  margin: 0;
}
.partners-info--title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#partnersInfo {
  line-height: 1.7;
  margin-bottom: 0;
}
#partnersCloseBtn {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: var(--black);
}
/* FOOTER */
.footer {
  min-height: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--dark);
  position: relative;
  background-color: var(--dark-blue);
}
.footer-asu {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  width: 80%;
  text-align: center;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.footer-menu {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0;
  padding-inline-start: 20px;
}
.footer-menu--item a {
  font-size: 0.9rem;
  color: var(--white);
}
.footer-heading {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 15px;
  letter-spacing: 0.04em;
  align-self: center;
  font-family: var(--heading-font);
  max-width: 400px;
}
.footer-sponsors {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.footer-contacts--list {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: var(--heading-font);
}
.footer-contacts--list a {
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: 100;
  font-size: 0.8rem;
}
.footer-contacts--phone,
.footer-contacts--email {
  padding-left: 2.3rem;
  position: relative;
}
.footer-contacts--phone::before,
.footer-contacts--email::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.footer-contacts--phone::before {
  background-image: url("../images/icons/call.svg");
}
.footer-contacts--email::before {
  background-image: url("../images/icons/mail.svg");
}

@media screen and (max-width: 925px) {
  .header {
    display: none;
  }
  body {
    font-size: 14px;
  }
  .header {
    padding: 30px;
  }
  .main-logos {
    margin-bottom: 40px;
    justify-content: space-evenly;
  }
  .main-logos img {
    height: 30px;
    width: auto;
  }
  .main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-content {
    width: 100%;
  }
  .main-title,
  .main-subtitle {
    width: 100%;
  }
  .main-button {
    margin: auto;
  }
  .main-content {
    margin-bottom: 3rem;
  }
  .main-image {
    width: 100%;
    margin: auto;
  }
  .number-item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .news-wrapper {
    grid-template-areas: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .news-item {
    filter: none;
  }
  .news-item:first-child {
    grid-area: auto;
  }
  .about-wrapper {
    width: 100%;
  }
  .about-text {
    width: 50%;
  }
  .numbers-wrapper {
    flex-direction: column;
  }
  .faq-summary {
    padding-right: 35px;
    font-size: 1.1rem;
  }
  .team-name {
    font-size: 1rem;
  }
  .team-description {
    font-size: 0.8rem;
  }
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }
  .footer-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
  }
  .footer-heading {
    text-align: center;
  }
  .footer-nav--wrapper {
    text-align: left;
  }
  .footer-logo {
    max-width: 100%;
  }
  .footer-logo img {
    width: 80px;
    height: 80px;
  }
  .footer-logo span {
    text-align: left;
  }
}

@media screen and (max-width: 425.99px) {
  .section {
    padding-top: 80px;
    padding-bottom: 75px;
  }
  .title {
    font-size: 1.9rem;
    margin-bottom: 40px;
  }
  .main-section {
    padding-top: 50px;
  }
  .main-subtitle {
    font-size: 1.2rem;
  }
  .numbers-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .number-item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .number {
    font-size: 2.8rem;
  }
  .faq-summary {
    font-size: 0.9rem;
    padding-right: 40px;
  }
  .faq-summary::before {
    left: 0.85rem;
  }
  .faq-answer {
    font-size: 0.8rem;
    margin-left: 0;
  }
  .team-name {
    font-size: 1.05rem;
  }
  .team-description {
    font-size: 0.85rem;
  }
  .partners-item {
    width: 150px;
  }
  #partnersInfoWrapper.visible {
    width: 95%;
    padding: 5rem 2.5rem;
  }
  #partnersCloseBtn {
    right: 30px;
    top: 30px;
  }
  .about-item {
    flex-direction: column;
  }
  .about-item:nth-child(2n) {
    flex-direction: column;
  }
  .about-text {
    width: 100%;
    text-align: center;
  }
  .footer-logo span {
    max-width: 60%;
  }
}
