body {
    background-image: url(bg.jpg);
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;;
}
header{
    padding: 2%;
    float: left;
    width: 96%;
    min-height: 100px;
    background-image: url(hbg.jpg);

}
header img{

    height: 150px;
    float: left;
}
header h1 {
    text-align: center;
    font-weight: bold;
    color: white;

}
.menu {
    float: left;
    width: 10%;
    height: 100%;

    padding-left: 15px;
    padding-top: 30px;

}

.menu button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.2em;
  width: 120px;
  
  
}
.menu button:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.menu button:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


/*CONTENT*/

.content {
    float: left;
    width: 80%;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
}
.content h2 {
    text-align: center;
}
.content img {
    width: 300px;
    border: 2px solid black;
    border-radius: 13px;
}

.titles img {
    margin: 0px 20px;
}
.title1 {
    margin: 30px;
    float: left;
    margin-bottom:0px;
    margin-top: 0px;
}

.title2 {
    margin: 30px;
    float: left;
    margin-bottom:0px;
}
.title3 {
    margin: 30px;
    float: left;
}

footer {
    float: left;
    background-color: black;
    width: 100%;
    max-height: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
footer h4 {
    color: white;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;

}
.fav {
    font-size: 28px;
}
.fav_teach {
    float: left;
    border: 1px solid black;
    border-radius: 15px;
    margin: 30px;
    margin-left: 20%;
    padding: 5px 30px 30px 0px;

}
.fav_sub {
    float: left;
    border: 1px solid black;
    border-radius: 15px;
     margin: 30px;
     margin-left: 25%;
     padding: 5px 30px 30px 0px;
     
     
}
.video {
    position: relative;
    float: left;
    margin: 15px 25%;
}
