.how-description
    line-height: 1.35
    background-color: rgba($blue, 0.1)
    padding: 1rem 1.5rem
    margin-bottom: $gutter

.how-subheader
    font-size: 1.35em
    letter-spacing: -0.05em
    margin: 0 auto $gutter / 1.5 auto
    width: max-content