.why-defenition
    line-height: 1.35
    background-color: rgba($accent, 0.1)
    padding: 1rem 1.5rem
    margin-bottom: $gutter

.why-subheader
    font-size: 1.75em
    letter-spacing: -0.05em
    margin-bottom: $gutter / 1.5

.why-list
    margin-bottom: $gutter
    &--item
        padding-left: 5px
        letter-spacing: -0.03em
        &::marker
            color: $accent
            content: '▸'
            line-height: 0
            font-size: 1.15em
.why-button-wrapper
    text-align: right
