@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply font-serif;
	font-family: 'Jost';
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;

	--description-color: #494b51;
	--background-blur-color: #192eb46d;
}

html {
	@apply overflow-x-hidden;
}

body {
	@apply m-0 min-h-screen w-full min-w-[320px] overflow-x-hidden bg-slate-50 leading-6 text-cyan-950;
}

strong {
	@apply font-medium;
}

/**
* Header
*/

.header {
	@apply fixed top-0 z-[9999] w-full border-b border-b-gray-200 bg-white p-4 pb-6 shadow-lg md:flex-row;
}
.header-logo {
	@apply flex max-w-[300px] flex-row items-center justify-center gap-1 text-lg leading-6 tracking-tight;
}
.header-logo.header-mobile {
	@apply hidden md:flex;
}
.header-logo .header-title {
	@apply max-w-[200px] text-sm tracking-tighter;
}
.header-logo img {
	@apply h-16 w-16;
}
.header-nav {
	@apply hidden items-center md:flex;
}
.header-nav ul {
	@apply flex flex-row md:gap-2 lg:gap-4 xl:gap-8;
}
.header-nav ul li {
	@apply w-max text-center font-medium hover:underline hover:underline-offset-1;
}
.header-nav ul li a {
	@apply py-2 text-lg font-medium leading-tight tracking-tight;
}

#nav-mobile-menu {
	position: fixed;
	transform: translateX(-200%);
	left: 0;
	right: 0;
	top: 0;
	width: 100vw;
	padding: 6rem 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	@apply transition-transform;
	transition-duration: 0.4s;
}

#nav-mobile-menu.close {
	transform: translateX(200%);
}

#nav-mobile-menu.open {
	transform: translateX(0);
}

#nav-mobile-menu nav ul {
	@apply flex flex-col gap-6;
}

#nav-mobile-menu nav ul li {
	@apply text-center text-2xl text-white;
}

.header-contacts {
	@apply hidden flex-row items-center justify-end gap-2 font-medium lg:flex;
}
.header-contacts a {
	@apply flex flex-row gap-2 text-cyan-950 underline;
}
.header-contacts svg {
	@apply w-3;
}
.header-contacts .button {
	@apply text-white no-underline;
}
.socials {
	@apply flex flex-row;
}
.socials svg {
	@apply aspect-square h-auto w-10 stroke-slate-900 p-1.5;
	stroke-width: 2px;
}

/**
 *  Main
 */
.section {
	@apply container relative my-4 min-h-[400px] py-16;
}
.section-block {
	@apply container mt-8 overflow-hidden bg-white px-8 pb-24 pt-16 shadow-md;
}
.section-title {
	@apply relative mb-4 w-auto bg-gradient-to-r from-cyan-950 to-sky-700 bg-clip-text text-center text-2xl font-medium uppercase tracking-tight text-transparent md:mb-12 md:w-max lg:text-4xl;
}
.section-title::before {
	@apply absolute left-0 top-1/2 h-1 w-3/4 -translate-x-[120%] bg-gradient-to-r from-cyan-950 to-sky-700 content-[""];
}
.section-title::after {
	@apply absolute right-0 top-1/2 h-1 w-3/4 translate-x-[120%] bg-gradient-to-r from-sky-700 to-cyan-950 content-[""];
}
.section-title.not-centered::before {
	@apply hidden;
}
.section-title.not-centered::after {
	@apply -right-1/2 w-1/2 translate-x-8;
}
.button {
	@apply w-max rounded border-b-4
	border-sky-700 bg-primary bg-gradient-to-r 
  	from-sky-700 to-primary px-12 py-3 text-2xl font-medium tracking-wide
	text-white shadow-lg shadow-slate-500 transition-shadow hover:shadow-xl hover:shadow-slate-500;
}
.button > svg {
	display: initial;
}
.button.button-sm {
	@apply px-4 py-1 text-sm tracking-tighter shadow-none;
}

/**
 *  Banner
 */

.banner-section {
	@apply relative mt-0 flex min-h-screen flex-row flex-wrap items-center justify-center bg-white bg-opacity-20 px-8 pb-24 pt-[140px] md:px-12 lg:px-24;
}
.banner-bg {
	@apply absolute left-0 top-0 z-[-1] block h-full w-full bg-cover bg-center bg-no-repeat object-cover;
}
.banner-text {
	@apply flex w-full flex-col gap-3 bg-gradient-to-tr from-slate-50 to-zinc-100 bg-clip-text pb-12 text-center text-transparent lg:w-1/2 lg:pr-12 lg:text-left;
}
.banner-text span {
	@apply mx-auto inline-block w-max bg-white px-8 text-3xl font-bold leading-tight tracking-tighter text-sky-900 lg:mx-0 lg:text-6xl;
}
.banner-text span.arrow {
	@apply bg-transparent p-0 px-1 font-mono text-xl font-black leading-none text-red lg:text-6xl;
}
.banner-text h1 {
	@apply mb-4 mt-2 text-3xl font-bold tracking-wide lg:text-5xl;
}
.banner-text h2 {
	@apply text-xl tracking-wider lg:text-2xl;
}
.banner-text .button {
	@apply mx-auto text-xs tracking-tighter md:text-base lg:mx-0 lg:text-xl;
}
.banner-scroll {
	@apply absolute bottom-4 left-0 hidden h-4 w-full flex-row items-center border-b-2 border-t-2 border-slate-200 bg-gradient-to-bl from-cyan-950 to-sky-700 py-6 font-medium tracking-wide text-white lg:flex;
}
.banner-scroll a {
	@apply underline;
}
.banner-quote {
	@apply relative hidden w-full max-w-[600px] flex-col items-center justify-center px-8 md:flex lg:w-1/2;
}
.banner-quote img {
	@apply aspect-square h-auto w-full rounded border-8 border-white object-cover object-center shadow;
}
.banner-quote figcaption {
	@apply absolute -bottom-10 left-0 right-0 block rounded border-8 border-white bg-white px-4 pb-2 pt-8 shadow;
}
.banner-quote figcaption::before {
	@apply absolute -top-6 left-0
		   grid h-12 w-12
  		   items-center justify-center rounded-full bg-emerald-600
  		   p-4 text-5xl font-bold leading-[0.8]
		 text-white content-["❞"];
}
.banner-quote blockquote {
	@apply relative flex flex-col bg-gradient-to-r from-cyan-950 to-sky-900 bg-clip-text text-xl leading-tight text-transparent;
}
.banner-quote blockquote p {
	@apply mb-2 italic tracking-tight;
}
.banner-quote blockquote span {
	@apply text-right text-base not-italic leading-tight tracking-tighter;
}
/**
 *  About
 */
.about-section {
	@apply mx-auto mt-12 flex w-full flex-col items-center gap-16 rounded-md bg-white px-6 pb-24 pt-16 shadow-lg lg:w-5/6 lg:gap-32 lg:px-12;
}
.about-description {
	@apply flex w-full flex-col gap-4 text-xl leading-10 tracking-tight lg:text-2xl;
}
.about-advantages {
	@apply mt-20 flex flex-col flex-nowrap items-center justify-around gap-6 md:flex-row;
}
.advantages-item {
	@apply flex w-full flex-col items-center justify-center gap-8 text-center tracking-tight md:w-1/3;
}
.advantages-item svg {
	@apply mx-auto aspect-square h-28 w-28 rounded-full border-4 px-1 py-5 shadow-md  transition-shadow hover:shadow-2xl;
}
.advantages-item:nth-child(2) svg {
	@apply border-sky-400 bg-gradient-to-tr from-white to-sky-200 fill-sky-800 shadow-sky-300 hover:shadow-sky-800;
}
.advantages-item:nth-child(3) svg {
	@apply border-emerald-400 bg-gradient-to-tr from-white to-emerald-200 fill-emerald-800 shadow-emerald-300 hover:shadow-emerald-800;
}
.advantages-item:nth-child(1) svg {
	@apply border-rose-400 bg-gradient-to-tr from-white to-rose-200  fill-rose-950 shadow-rose-300 hover:shadow-rose-800;
}
.advantages-item figcaption {
	@apply text-center text-xl font-medium leading-6;
}
.about-content {
	@apply mt-20 flex flex-col flex-nowrap items-center justify-around gap-6 lg:flex-row;
}
.content-item {
	@apply flex flex-row items-center gap-4 rounded-md border-2 p-6 pr-8;
}
.content-item:nth-child(2) {
	@apply border-sky-400 bg-gradient-to-tr from-white to-sky-200;
}
.content-item:nth-child(3) {
	@apply border-emerald-400 bg-gradient-to-tr from-white to-emerald-200;
}
.content-item:nth-child(1) {
	@apply border-rose-400 bg-gradient-to-tr from-white to-rose-200;
}
.content-item span {
	@apply mb-2 block text-2xl font-medium leading-6;
}
.content-item p {
	@apply text-lg leading-5;
}
.content-item svg {
	@apply h-20 w-20;
}

/**
 *  Courses
 */

.courses-wrapper {
	@apply grid grid-cols-1 content-center items-center justify-center gap-6 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}
.courses-item {
	@apply max-h-[300px] rounded bg-slate-100 shadow-xl transition-shadow hover:shadow-2xl;
}
.courses-item figure {
	@apply relative overflow-hidden bg-gradient-to-bl from-slate-200 to-slate-100 tracking-tight;
}
.courses-item img {
	@apply relative h-[300px] w-full object-cover object-top opacity-20 blur-[2px] transition-transform;
}
.courses-item figcaption {
	@apply absolute left-1/2 top-1/2 flex w-3/4 -translate-x-1/2 -translate-y-1/2 flex-col text-center;
}
.courses-item span.courses-title {
	@apply bg-gradient-to-r from-sky-900 to-slate-600 bg-clip-text text-xl font-medium text-transparent;
}
.courses-item span.courses-description {
	@apply absolute bottom-1/2 max-h-[280px] w-full translate-y-[-500px] overflow-hidden overflow-ellipsis rounded-md bg-white bg-opacity-80 p-4 text-sm leading-4 shadow-lg backdrop-blur-md transition-transform;
}
.courses-item:hover span.courses-description {
	@apply translate-y-1/2;
}
.courses-item:hover img {
	@apply hover:blur-none;
}

/**
 *  Staff
 */

.staff-wrapper {
	@apply grid grid-cols-1 gap-4 md:grid-cols-3;
}
.staff-item {
	@apply rounded border-2 border-slate-200 
  bg-gradient-to-tr from-white to-slate-50 shadow-md;
}
.staff-item img {
	@apply h-[400px] w-full rounded-sm rounded-b-none object-cover object-top p-2;
}
.staff-item figcaption {
	@apply p-3 pb-4 pt-2 text-center text-lg tracking-tight;
}

/**
 *  Reviews
 */

.reviews-item {
	@apply mx-auto flex w-full flex-col items-center justify-center 
  gap-8 rounded-md bg-white px-12 py-8 shadow-xl lg:flex-row xl:w-5/6;
}
.reviews-image {
	@apply relative block aspect-square h-[250px] w-[250px];
}
.reviews-image img {
	@apply aspect-square h-[250px] w-[250px] rounded-full border-8 border-slate-200 object-cover object-top;
}
.reviews-image::before {
	@apply absolute right-4 top-4
			grid h-12 w-12
			items-center justify-center rounded-full bg-rose-600
			p-4
			text-5xl font-bold leading-[0.8]
		text-white content-["❞"];
}
.reviews-text p {
	@apply text-xl font-light leading-8 tracking-wide;
}
.reviews-text span {
	@apply mt-6 block text-lg tracking-wider;
}
.splide__arrow svg {
	@apply fill-sky-950 !important;
}
.splide__pagination__page.is-active {
	@apply bg-sky-950 !important;
}
.splide__pagination__page:hover {
	@apply bg-sky-900 !important;
}
.splide__arrow--next {
	@apply right-0 !important;
}
.splide__arrow--prev {
	@apply left-0 !important;
}

/**
 *  Partners
 */

.partners-wrapper {
	@apply flex flex-row flex-wrap items-center justify-center gap-3;
}
.partners-item {
	@apply h-[100px] w-1/3 rounded-md bg-gradient-to-br from-white to-slate-50 p-2 shadow-md transition-shadow hover:shadow-xl lg:w-1/6;
}
.partners-item img {
	@apply mx-auto block h-full w-full object-contain object-center;
}

/**
 *  Footer
 */

.footer {
	@apply relative flex min-h-[30vh] flex-col flex-wrap justify-around gap-14 overflow-hidden bg-gradient-to-bl from-sky-800 to-slate-800 px-14 py-14 pt-[150px] text-white md:flex-row;
}
.footer::before {
	@apply absolute -left-[5vw] -right-[5vw] -top-[200px] block h-[300px] w-[110vw] rounded-[100%] border-b-8 border-sky-950 bg-slate-50 content-[''];
}
.footer a:hover {
	@apply underline underline-offset-4;
}
.footer-logo {
	@apply flex h-auto max-w-[300px] flex-col justify-center gap-4;
}
.footer-logo img {
	@apply h-[60px] w-[60px];
}
.footer-logo span {
	@apply text-left text-lg font-medium;
}
.footer-col .footer-title {
	@apply mb-4 block text-left text-lg font-bold uppercase tracking-wider lg:text-center;
}
.footer-col ul {
	@apply flex flex-col gap-2;
}
.footer-col li a,
.footer-col li {
	@apply flex flex-nowrap items-center gap-4 text-sm;
}
.footer-col svg {
	@apply h-4 w-4;
}
.footer-menu ul {
	@apply list-disc;
}
.footer-menu ul > li {
	@apply list-item;
}

/* VERSION 2 */
/* .header {
	@apply shadow-none;
}
.main {
	@apply container;
}
.layout {
	@apply relative grid gap-16 overflow-x-hidden;
	grid-template-columns: 1fr 1fr;
}
.layout-content {
	@apply pt-[150px];
}
section {
	@apply rounded-md border-4 border-sky-900 border-opacity-10 bg-white px-4 py-8 shadow-md;
}
.footer {
	@apply z-10 flex min-h-[150px] w-full border-t-2 border-t-sky-900 pb-7 pt-5 before:hidden;
}
.advantages-item {
	@apply gap-1;
}
.advantages-item svg {
	@apply mb-3 h-20 w-20 p-2;
}
.advantages-item figcaption {
	@apply text-base leading-5;
}
.courses-wrapper {
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.courses-item span.courses-title {
	@apply text-sm leading-4 tracking-tight;
}
.courses-item span.courses-description {
	@apply hidden;
}
.courses-item img {
	@apply h-[150px];
}
.partners-wrapper {
	@apply flex flex-row flex-wrap items-center justify-start;
}
.staff-item img {
	@apply h-[250px];
}
.staff-item {
	@apply border-none bg-white shadow-none;
}
.banner-quote {
	@apply flex w-full max-w-full flex-row gap-8 p-0;
}
.banner-quote figcaption {
	@apply relative bottom-0 border-none p-0 shadow-none;
}
.banner-quote img {
	@apply w-1/2 border-none;
}
.banner-quote figcaption::before {
	@apply -left-14 -top-4;
} */

/* VERSION 3 */
.footer {
	@apply z-10 flex min-h-[150px] w-full border-t-2 border-t-sky-900 pb-7 pt-5 before:hidden;
}
.for-wrapper {
	@apply grid list-none grid-cols-1 gap-8 p-0 pt-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}
.for-wrapper > li {
	@apply rounded-md border-4 border-sky-100 bg-gradient-to-br from-white to-sky-100 p-4 pb-8 shadow-lg shadow-sky-50 transition-colors hover:shadow-sky-200;
}
.for-wrapper figure {
	@apply flex flex-col items-center;
}
.for-wrapper figure img {
	@apply relative mx-auto mb-8 block h-[150px] w-auto;
}
.for-wrapper figure figcaption h2 {
	@apply mb-4 text-center text-2xl font-medium leading-6 tracking-tight;
}
.for-wrapper figure figcaption p {
	@apply text-center text-lg leading-6 tracking-tight;
}
.for-wrapper figure figcaption ul {
	@apply list-disc pl-6 text-sm leading-4;
}
.types-wrapper {
	@apply grid grid-cols-1 gap-12 pt-10 md:grid-cols-2;
}
.types-wrapper figure {
	@apply rounded-md border-2 border-sky-100 bg-white bg-opacity-30 p-6;
}
.types-wrapper figure img {
	@apply relative mx-auto mb-8 block h-[250px] w-auto;
}
.types-wrapper figure figcaption {
	@apply mb-6 p-6;
}
.types-wrapper figure figcaption h2 {
	@apply mb-6 text-center text-xl font-medium leading-6 tracking-tight md:text-3xl;
}
.types-wrapper figure figcaption p {
	@apply text-center text-lg leading-7 tracking-tight;
}
.track-wrapper {
	@apply grid grid-cols-2 gap-3 pt-10 md:gap-8 lg:gap-12;
}
.track-item {
	@apply relative rounded-lg border-2 border-rose-100 bg-gradient-to-br 
	from-white to-rose-100 px-4 pb-8 pt-12 shadow-lg shadow-rose-50 transition-all;
}
.track-item.active,
.track-item:hover {
	@apply scale-105 shadow-rose-200;
}
.track-item span {
	@apply absolute -left-4 -top-4 text-[4rem] font-bold text-rose-600 text-opacity-40 transition-colors;
}
.track-item:hover span {
	@apply text-opacity-100;
}
.track-item.active span {
	@apply scale-125 text-opacity-80;
}
.track-item h2 {
	@apply text-center text-sm font-medium leading-tight tracking-tight md:leading-normal lg:text-lg;
}
.track-item img {
	@apply mx-auto mb-4 block h-[100px] w-auto;
}
.adv-wrapper {
	@apply flex flex-row flex-wrap justify-center gap-6;
}
.adv-item {
	@apply relative max-w-[400px] rounded-lg border-4 border-teal-100 bg-gradient-to-br from-white to-teal-100 
	p-4 pt-12 text-center shadow-lg shadow-teal-50 transition-colors hover:shadow-teal-200;
}
.adv-item img {
	@apply mx-auto mb-4 block h-[150px] w-auto;
}
.adv-item p {
	@apply text-lg font-medium leading-6;
}

/* Course card */
.cards-wrapper {
	@apply grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3;
}
.section-block .course-card {
	@apply bg-sky-200/10;
}
.course-card {
	@apply relative flex max-w-3xl flex-row items-start gap-6 rounded-md bg-white pr-4 shadow;
}
.course-header {
	@apply h-full w-2/3;
}

.course-card.group-card {
	@apply flex-col p-0;
}
.course-card.group-card .course-content {
	@apply px-4 pb-8 pt-0;
}
.course-card.group-card .course-header {
	@apply h-auto w-full;
}
.course-card.group-card .course-cover {
	@apply h-[280px];
}
.course-cover {
	@apply h-full w-full rounded-l object-cover object-center;
}
.course-title {
	@apply mb-3 text-center text-xl font-medium leading-none tracking-tighter md:text-left;
}
.course-content {
	@apply flex h-full w-full flex-col pb-12 pt-8;
}
.course-topline {
	@apply mb-2 flex flex-row flex-wrap gap-x-2 gap-y-1 text-xs;
}
.course-topline a {
	@apply underline;
}
.course-description {
	@apply line-clamp-3 text-ellipsis py-1 pr-4 text-sm leading-tight tracking-tighter hover:text-clip;
}
.course-author {
	@apply mb-5;
}
.course-difficulty {
	@apply pl-4;
}
.course-author {
	@apply text-right leading-5 tracking-tighter;
}
.course-duration,
.course-start {
	@apply flex items-center gap-1 rounded-xl border bg-slate-100 px-2 py-1 text-xs font-medium leading-tight tracking-tight;
}

.course-authors-wrapper {
	@apply flex flex-col gap-1;
}
.course-authors-wrapper p {
	@apply text-xs font-medium leading-5 tracking-tight;
}
.course-authors {
	@apply flex flex-row;
}
.course-authors img {
	@apply -ml-4 h-14 w-14 rounded-full border-4 border-white object-cover object-center;
}
.course-authors img:nth-child(1) {
	margin: 0;
}

@media screen and (max-width: 1024.99px) {
	.course-card {
		@apply flex-col px-0 pb-4 pt-0;
	}
	.course-header {
		@apply max-h-[250px] w-full overflow-hidden;
	}
	.course-cover {
		@apply h-auto w-full rounded-none object-cover object-top;
	}
	.course-content {
		@apply px-4 py-0;
	}
	.course-description {
		@apply mb-4 p-0;
	}
	.cards-wrapper {
		@apply flex flex-col;
	}
}

.show {
	@apply flex !important;
}
.hide {
	@apply hidden !important;
}
