@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply font-serif;
	font-family: 'Jost';
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	@apply m-0 min-h-screen w-full min-w-[320px] bg-slate-50 leading-6 text-cyan-950;
}

/**
* Header
*/

.header {
	@apply fixed top-0 z-[9999] flex w-full flex-col justify-between gap-4 border-b border-b-gray-200 bg-white p-4 shadow-lg md:flex-row;
}
.header-logo {
	@apply flex max-w-[300px] flex-row items-center justify-center gap-3 text-lg leading-6 tracking-tight;
}
.header-logo img {
	@apply h-16 w-16;
}
.header-contacts {
	@apply hidden flex-col items-center justify-center gap-2 font-medium underline lg:flex;
}
.header-contacts a {
	@apply flex flex-row gap-2 text-cyan-950;
}
.header-contacts svg {
	@apply w-3;
}
/**
 *  Main
 */
.section {
	@apply container relative my-4 min-h-[400px] py-16;
}
.section-title {
	@apply relative mb-12 w-max bg-gradient-to-r from-cyan-950 to-sky-700 bg-clip-text text-4xl font-medium uppercase tracking-tight text-transparent;
}
.section-title::before {
	@apply absolute -left-full top-1/2 h-1 w-3/4 -translate-x-1/2 bg-gradient-to-r from-cyan-950 to-sky-700 content-[""];
}
.section-title::after {
	@apply absolute -right-full top-1/2 h-1 w-3/4 translate-x-1/2 bg-gradient-to-r from-sky-700 to-cyan-950 content-[""];
}
.section-title.not-centered::before {
	@apply hidden;
}
.section-title.not-centered::after {
	@apply -right-1/2 w-1/2 translate-x-8;
}
.button {
	@apply w-max rounded border-b-4
	border-sky-700 bg-primary bg-gradient-to-r 
  	from-sky-700 to-primary px-12 py-3 text-2xl font-medium tracking-wide
	text-white shadow-lg shadow-slate-500 transition-shadow hover:shadow-xl hover:shadow-slate-500;
}

/**
 *  Banner
 */

.banner-section {
	@apply relative mt-0 flex min-h-screen flex-row flex-wrap items-center justify-center bg-white px-8 pb-24 pt-[140px] md:px-12 lg:px-24;
}
.banner-text {
	@apply flex w-full flex-col gap-3 bg-gradient-to-tr from-cyan-950 to-sky-700 bg-clip-text pb-12 text-center text-transparent lg:w-1/2 lg:pr-12 lg:text-left;
}
.banner-text h1 {
	@apply text-3xl tracking-wider;
}
.banner-text h2 {
	@apply mb-4 mt-2 text-6xl font-bold tracking-wide;
}
.banner-text h3 {
	@apply text-2xl font-light tracking-tighter;
}
.banner-text .button {
	@apply mx-auto lg:mx-0;
}
.banner-scroll {
	@apply absolute bottom-4 left-0 hidden h-4 w-full flex-row items-center border-b-2 border-t-2 border-slate-200 bg-gradient-to-bl from-cyan-950 to-sky-700 py-6 font-medium tracking-wide text-white lg:flex;
}
.banner-scroll a {
	@apply underline;
}
.banner-img {
	@apply flex w-full items-center justify-center px-8 lg:w-1/2;
}
.banner-img img {
	@apply h-auto w-4/6;
}
.banner-anim {
	@apply w-full lg:w-1/2;
}

/**
 *  About
 */
.about-section {
	@apply flex flex-col items-center gap-16 bg-white px-6 py-16 shadow-lg lg:flex-row lg:px-12;
}
.about-description {
	@apply flex w-full flex-col gap-4 text-xl leading-10 tracking-tight lg:w-3/5 lg:text-2xl;
}
.about-image {
	@apply aspect-square h-auto w-full overflow-hidden rounded shadow-lg shadow-slate-500 lg:w-2/5;
}
.about-image img {
	@apply block h-full w-full object-cover object-center;
}

/**
 *  Courses
 */

.courses-wrapper {
	@apply grid grid-cols-1 content-center items-center justify-center gap-6 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}
.courses-item {
	@apply max-h-[300px] rounded bg-slate-100 shadow-xl transition-shadow hover:shadow-2xl;
}
.courses-item figure {
	@apply relative overflow-hidden bg-gradient-to-bl from-slate-200 to-slate-100 tracking-tight;
}
.courses-item img {
	@apply relative h-[300px] w-full object-cover object-top opacity-20 blur-[2px] transition-transform;
}
.courses-item figcaption {
	@apply absolute left-1/2 top-1/2 flex w-3/4 -translate-x-1/2 -translate-y-1/2 flex-col text-center;
}
.courses-item span.courses-title {
	@apply bg-gradient-to-r from-sky-900 to-slate-600 bg-clip-text text-xl font-medium text-transparent;
}
.courses-item span.courses-description {
	@apply absolute bottom-1/2 max-h-[280px] w-full translate-y-[-500px] overflow-hidden overflow-ellipsis rounded-md bg-white bg-opacity-80 p-4 text-sm leading-4 shadow-lg backdrop-blur-md transition-transform;
}
.courses-item:hover span.courses-description {
	@apply translate-y-1/2;
}
.courses-item:hover img {
	@apply hover:blur-none;
}

/**
 *  Staff
 */

.staff-wrapper {
	@apply grid grid-cols-1 gap-4 md:grid-cols-3;
}
.staff-item {
	@apply rounded border-2 border-slate-200 
  bg-gradient-to-tr from-white to-slate-50 shadow-md;
}
.staff-item img {
	@apply h-[400px] w-full rounded-sm rounded-b-none object-cover object-top p-2;
}
.staff-item figcaption {
	@apply p-3 pb-4 pt-2 text-center text-lg tracking-tight;
}

/**
 *  Reviews
 */

.reviews-item {
	@apply mx-auto flex w-full flex-col items-center justify-center 
  gap-8 rounded-md bg-white px-12 py-8 shadow-xl lg:flex-row xl:w-5/6;
}
.reviews-image {
	@apply relative block aspect-square h-[250px] w-[250px];
}
.reviews-image img {
	@apply aspect-square h-[250px] w-[250px] rounded-full border-8 border-slate-200 object-cover object-top;
}
.reviews-image::before {
	@apply absolute right-4 top-4
  grid h-12 w-12
  items-center justify-center rounded-full bg-primary
  p-4
  text-5xl font-bold leading-[0.8]
  text-white content-["â"];
}
.reviews-text p {
	@apply text-xl font-light leading-8 tracking-wide;
}
.reviews-text span {
	@apply mt-6 block text-lg tracking-wider;
}
.splide__arrow svg {
	@apply fill-sky-950 !important;
}
.splide__pagination__page.is-active {
	@apply bg-sky-950 !important;
}
.splide__pagination__page:hover {
	@apply bg-sky-900 !important;
}
.splide__arrow--next {
	@apply right-0 !important;
}
.splide__arrow--prev {
	@apply left-0 !important;
}
/**
 *  Partners
 */

.partners-wrapper {
	@apply flex flex-row flex-wrap items-center justify-center gap-3;
}
.partners-item {
	@apply h-[100px] w-1/3 rounded-md bg-gradient-to-br from-white to-slate-50 p-2 shadow-md transition-shadow hover:shadow-xl lg:w-1/6;
}
.partners-item img {
	@apply mx-auto block h-full w-full object-contain object-center;
}

/**
 *  Footer
 */

.footer {
	@apply relative flex min-h-[30vh] flex-col flex-wrap justify-around gap-14 overflow-hidden bg-gradient-to-bl from-sky-800 to-slate-800 px-14 py-14 pt-[150px] text-white md:flex-row;
}
.footer::before {
	@apply absolute -left-[5vw] -right-[5vw] -top-[200px] block h-[300px] w-[110vw] rounded-[100%] border-b-8 border-sky-950 bg-slate-50 content-[''];
}
.footer a:hover {
	@apply underline underline-offset-4;
}
.footer-logo {
	@apply flex h-auto max-w-[300px] flex-col justify-center gap-4;
}
.footer-logo img {
	@apply h-[60px] w-[60px];
}
.footer-logo span {
	@apply text-left text-lg font-medium;
}
.footer-col .footer-title {
	@apply mb-4 block text-left text-lg font-bold uppercase tracking-wider lg:text-center;
}
.footer-col ul {
	@apply flex flex-col gap-2;
}
.footer-col li a,
.footer-col li {
	@apply flex flex-nowrap items-center gap-4 text-sm;
}
.footer-col svg {
	@apply h-4 w-4;
}
.footer-menu ul {
	@apply list-disc;
}
.footer-menu ul > li {
	@apply list-item;
}
